/* css rest */
*{
    margin:0;
    padding:0;

}
body{
    background: url(/image/background.jpg);
}
/* logo */
 img{
     top: 0;
     height: 100px;
     width: 100px;
     
     margin-right: 98px;
 }
/* css variables */
:root{
    --navbar-height:59px;

}
/* navigation bar */
#navbar{
    align-items: center;
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    /* position: sticky; */
    top: 0;
    left: 0;
    height: 12%;
    width: 100%;
    z-index: -1;
    opacity: 6;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3ram;
    /* color: wheat; */

}
#navbar ul li a{
    color: blanchedalmond;
    display: block;
    padding: 20px 20px;
    border-radius: 20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
    background-color: rgb(71, 68, 63);
    border-radius: 20px;
    
}


/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 6px 200px;
    align-items: center;
    
    /* color: rgb(74, 47, 47); */
}
#home::before{
    content: "";
    background: url(https://i.pinimg.com/originals/b6/19/f0/b619f0407cca02d62a1c9f21f7546040.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;   
}
#home p{
    text-align: center;
    color: rgb(39, 38, 38);
    
}
#home h1{
    align-items: center;
    font-size: larger;
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
}
/* utility class */

.primary{
    font-size: 3.2rem;
    padding: 12px;
}
.btn{
    padding: 6px 12px;
    border: 2px solid white;
    background-color: rgb(125, 94, 53);
    color: black;
    margin: 17px;
    font-size: 1.7rem;
    border-radius: 12px;
    cursor: pointer;
}
.center{
    text-align: center;
}

 /* services center */
 #services{
     margin: 30px;
     margin-left: 71px;
     padding: 23px;
     /* display: flex; */
     height: 318px;
     width: 351px;
     display: inline-flex;

 }
 #services .box{
     border: 2px solid brown;
     background-color: rgb(213, 213, 213);
     padding: 12px;
     text-align: center;
     border-radius: 20px;
     
 }
 #services .box img{
     height: 100px;
     margin: 12px;
 }
 .h2-secondery{
     font-size: 32px;
     font-family: 'Abril Fatface', cursive;
     color: rgb(45, 45, 42);
     text-shadow: 4px 2px 3px rgb(255, 255, 255);
     padding: 5px;
 }
 .images{
     display: flex;
     
     
 }
 .links{
     height: 50px;
     width: 80px;
 }
